@use './variables' as *;

@mixin flex-wrapped ($flex-direction:row,$jufity-content:flex-start,$align-items:normal){
    display: flex;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
    justify-content: $jufity-content;

}

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }
  
  @mixin mobile-section-header-font{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem;
  }

  @mixin tablet-section-header-font{
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 3rem 0 2.25rem;
  }

  @mixin mobile-body-font{
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }

  @mixin tablet-body-font{
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }

  @mixin section-padding{
    padding:0 $mobile-margin;
    @include tablet{
      padding: 0 $tablet-margin-edge;
    }
   
  }

  @mixin desktop-fixed-width{
    @include desktop{
      max-width: $fixed-width;
      margin: auto;
    }
  }

 