$primary-light-font-color:#FFFFFF;
$secondary-font-color: #AFAFAF;
$primary-dark-font-color:#323232;
$inactive-font-color:#E1E1E1;

$tablet-width: 768px;
$desktop-width: 1280px;

$mobile-margin: 1rem;
$tablet-desktop-margin: 1.5rem;
$tablet-margin-edge: 2.25rem;

$fixed-width:80rem;



