@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2), url(../../assets/fonts/AvenirNextLTPro-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2), url(../../assets/fonts/AvenirNextLTPro-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.woff2), url(../../assets/fonts/AvenirNextLTPro-Demi.woff);
  font-weight: 600;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir";
}

.header {
  background-color: #323232;
}

.labels {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #AFAFAF;
  font-weight: 600;
}
@media (min-width: 768px) {
  .labels {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.button {
  background-color: #323232;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 4px;
  height: 2.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .nav {
    max-width: 80rem;
    margin: auto;
  }
}
.nav__logo-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .nav__logo-link {
    padding: 1.5rem 2.25rem 1.5rem;
  }
}
.nav__link-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .nav__link-bar {
    font-size: 0.75rem;
  }
}
.nav__link-box {
  width: 50%;
  text-align: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .nav__link-box {
    width: auto;
    padding: 2.25rem 0;
    margin: 0 2.25rem;
  }
}
.nav__link-box:hover {
  border-bottom: 2px solid #FFFFFF;
}
.nav__link-box--active {
  border-bottom: 2px solid #FFFFFF;
}
.nav__link {
  text-decoration: none;
  color: #E1E1E1;
  line-height: 1.25rem;
}
.nav__link--active {
  color: #FFFFFF;
  font-weight: 700;
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
}
.footer__box {
  padding: 0 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .footer__box {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__box {
    max-width: 80rem;
    margin: auto;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 3rem 0 2.25rem;
    display: inline-block;
  }
}
.footer__social-bar {
  width: 8rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__social-bar {
    display: inline-flex;
    margin-left: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__contact-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__contact-row {
    max-width: 75%;
  }
}
@media (min-width: 768px) {
  .footer__contact-box {
    width: 30%;
  }
}
.footer__contact-info, .footer__copyright {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__contact-info, .footer__copyright {
    padding-bottom: 1.5rem;
  }
}
.footer__copyright {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-top: 0.75rem;
  }
}
.footer__email-link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__contact-info--bold {
  font-weight: 600;
}
.footer__logo {
  margin-top: 2.25rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
    display: inline;
    position: absolute;
    left: calc(100% - 7.5rem - 1.5rem);
    top: 3.625rem;
  }
}

.hero {
  background: url(../assets/images/hero-shows.jpg) center center/cover;
  display: flex;
  align-items: center;
  height: 50vh;
}
@media (min-width: 768px) {
  .hero {
    height: 70vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
    display: flex;
    justify-content: center;
  }
}
.hero::before {
  content: "";
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
}
.hero__box {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
@media (min-width: 768px) {
  .hero__box {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
  }
}
.hero__title-box {
  color: #FFFFFF;
}
.hero__album-name {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .hero__album-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.hero__title {
  width: 8.5em;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    margin: 1.5rem 0 2.25rem;
  }
}
.hero__song {
  height: 9rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__song {
    width: 26rem;
    height: 10rem;
  }
}

@media (min-width: 1280px) {
  .shows-section__box {
    max-width: 80rem;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .shows-section__box {
    display: flex;
    justify-content: space-between;
  }
}
.shows-section__table {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows-section__table {
    width: 100%;
    padding: 0 1.125rem 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows-section__table {
    margin: 4.5rem 0 0 7.5rem;
  }
}
.shows-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .shows-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 3rem 0 2.25rem;
    padding-left: 1.5rem;
  }
}
.shows-section__header {
  display: none;
}
@media (min-width: 768px) {
  .shows-section__header {
    padding: 0 1.125rem 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10rem - (100% - 42rem) / 3);
  }
}
.shows-section__header-label {
  width: 10rem;
}

.card {
  border-bottom: 1px solid #E1E1E1;
  padding: 1rem 1rem 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.125rem 0;
  }
}
.card:hover {
  background-color: #fafafa;
}
.card--selected {
  background-color: #E1E1E1;
}
.card--selected:hover {
  background-color: #E1E1E1;
}
.card__label {
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .card__label {
    display: none;
  }
}
.card__value {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 160px;
  color: #323232;
}
@media (min-width: 768px) {
  .card__value {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.card__value--bold {
  font-weight: 600;
}
.card__button {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5313rem 0;
}
@media (min-width: 768px) {
  .card__button {
    width: 10rem;
    margin-bottom: 1.5rem;
  }
}/*# sourceMappingURL=shows.css.map */