@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

//HERO

.hero {
  background: url(../assets/images/hero-shows.jpg) center center / cover;
  display: flex;
  align-items: center;
  height: 50vh;
  @include tablet {
    height: 70vh;
  }
  @include desktop {
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  // layer to darken the picture, grows folowing the same pattern as .hero

  &::before {
    content: "";
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    height: 100%;
  }

  &__box {
    width: 100%;
    padding: $mobile-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute; // Added to change the z-index and to reposition for desktop
    z-index: 10;
    @include tablet {
      padding: $tablet-margin-edge;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80rem;
    }
  }

  &__title-box {
    color: $primary-light-color;
  }

  &__album-name {
    font-size: 0.875rem;
    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__title {
    width: 8.5em;
    font-weight: 600;
    font-size: 1.5rem;
    margin: $mobile-margin 0;
    @include tablet {
      font-size: 3.75rem;
      margin: $tablet-desktop-margin 0 $tablet-margin-edge;
    }
  }
  &__song {
    height: 9rem;
    width: 100%;
    @include tablet {
      width: 26rem;
      height: 10rem;
    }
  }
}

//SHOWS
.shows-section {
  &__box {
    @include desktop-fixed-width;
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__table {
    margin-bottom: $mobile-margin;
    @include tablet {
      width: 100%;
      padding: 0 1.125rem $tablet-desktop-margin;
    }
    @include desktop {
      margin: 4.5rem 0 0 7.5rem;
    }
  }

  &__title {
    @include mobile-section-header-font;
    padding-left: $mobile-margin;
    @include tablet {
      @include tablet-section-header-font;
      padding-left: $tablet-desktop-margin;
    }
  }

  &__header {
    display: none;
    @include tablet {
      padding: 0 1.125rem 0;
      display: flex;
      justify-content: space-between;
      width: calc(
        100% - 10rem - (100% - 42rem) / 3
      ); // calculation to get the size of the blank space between elements (100% - 42rem)/3
    }
  }
  &__header-label {
    width: 10rem;
  }
}

.card {
  border-bottom: 1px solid $inactive-color;
  padding: $mobile-margin $mobile-margin 0;
  cursor: pointer;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $tablet-desktop-margin 1.125rem 0;
  }

  &:hover {
    background-color: #fafafa;
  }

  &--selected {
    background-color: $inactive-color;

    &:hover {
      background-color: $inactive-color;
    }
  }

  &__label {
    margin-bottom: 0.25rem;
    @include tablet {
      display: none;
    }
  }

  &__value {
    @include mobile-body-font;
    margin-bottom: $mobile-margin;
    width: 160px;
    color: $primary-dark-color;
    @include tablet {
      @include tablet-body-font;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__button {
    margin-bottom: $mobile-margin;
    width: 100%;
    padding: 0.5313rem 0;

    @include tablet {
      width: 10rem;
      margin-bottom: $tablet-desktop-margin;
    }
  }
}
