@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

//HERO

.hero {
  background: url(../assets/images/hero-shows.jpg) center center / cover;
  @include flex-wrapped;
  align-items: center;
  height: 35vh;
  @include tablet {
    height: 60vh;
  }
  @include desktop {
    height: 90vh;
    @include flex-wrapped(row, center);
  }

  // layer to darken the picture, grows folowing the same pattern as .hero

  &::before {
    content: "";
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    height: 100%;
  }

  &__box {
    width: 100%;
    padding: $mobile-margin;
    @include flex-wrapped(column, center);
    position: absolute; // Added to change the z-index and to reposition for desktop
    z-index: 10;
    @include tablet {
      padding: $tablet-margin-edge;
    }
    @include desktop {
      @include flex-wrapped(row, space-between);
      align-items: center;
      width: 80rem;
    }
  }

  &__title-box {
    color: $primary-light-color;
  }

  &__album {
    font-size: 0.875rem;
  }

  &__title {
    width: 8.5em;
    font-weight: 600;
    font-size: 1.5rem;
    @include tablet {
      font-size: 3.75rem;
    }
  }
  &__song {
    height: 7rem;
    width: 18rem;
    @include tablet {
      width: 26rem;
      height: 10rem;
    }
  }
}

//SHOWS
.shows-section {
  &__title {
    @include mobile-section-header-font;
    @include tablet {
      @include tablet-section-header-font;
    }
  }
  &__box {
    @include section-padding;
    @include desktop-fixed-width;
  }
}
.card {

  border-bottom: 1px solid $inactive-color;
  margin-bottom: $mobile-margin;
  @include tablet{
    @include flex-wrapped(row,space-between);
    align-items: center;
  }

  &__label{
    @include tablet{
    display: none;
  }
  }

  &__value {
    margin-bottom: $mobile-margin;
    width: 10rem;

  }
  &__button {
    margin-bottom: $mobile-margin;
    width: 100%;
    padding: 0.5313rem 0;
    @include tablet{
      width: 10rem;
    }
  }
}
