@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;


//HERO 

.hero {
    background: url(../assets/images/hero-shows.jpg) center center / cover;
    @include flex-wrapped;
    align-items: center;
  
    height: 30vh;
    @include tablet {
      height: 60vh;
    }
  
    @include desktop {
      height: 90vh;
    }
  
    // layer to darken the picture, grows folowing the same pattern as .hero 
    
    &::before {
      content: "";
      width: 100%;
      background-color: rgba(50, 50, 50, 0.5);
      height: 100%;
  
    }
  
    &__title-box {
      position: absolute; // Added to change the z-index and to reposition for desktop
      z-index: 10;
      @include desktop{
        left: calc((100% - $fixed-width)/2); // fixed-width: is the max content width display after 1280px (desktop)
      }
    }
  
    &__title{
      font-weight: 600;
      color: $primary-light-color;
      font-size: 1.5rem;
      margin-left: $mobile-margin;
      @include tablet {
        font-size: 3.75rem;
        margin-left: $tablet-margin-edge;
      }
  
    }
  }